/*body {
    width: 50em;
} */

.button {
    font-size: 18px;
    font-weight: bold;    
}

.warning {
    color: rgb(185, 167, 0) !important;
    font-size: smaller;
}

.checkboxInput {
    margin-right: 6px;
}

.checkbox:hover, .radio:hover {
    color: #cccccc;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    text-align: center;
}