body {
    background: linear-gradient(135deg, #5d8bf7, #a3c1fc);
    color: #fff;
    padding: 20px;
}
.box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.save-btn {
    background-color: #fff;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    border: none;
}
.save-btn:hover {
    background-color: #f1f1f1;
}
/* Hide default checkbox */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Style the toggle switch */
.checkbox-container label {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #ccc;
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.checkbox-container label::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: transparent;
    transition: color 0.3s ease;
}
.checkbox-container input[type="checkbox"]:checked + label {
    background-color: #5d8bf7;
}
.checkbox-container input[type="checkbox"]:checked + label::before {
    color: #fff;
}

.checkbox-container label {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.checkbox-container label>img {
    padding: 6px;
}

/* Theme toggle button styles */
.theme-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.theme-toggle button {
    background-color: #fff;
    border: none;
    width: 100px;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, border 0.3s;
}
.theme-toggle button.active {
    background-color: hsl(0, 0%, 86%);
    border: 1px solid hsl(0, 0%, 80%);
}
.theme-toggle button:hover {
    background-color: hsl(0, 0%, 90%);
}
.theme-toggle button::before {
    background-color: #fff;
}
.theme-toggle button::after {
    background-color: hsl(0, 0%, 86%);
}