@keyframes showAnimation {
    from {
        opacity: 0;
        transform: translateY(10px);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from { 
        opacity: 0;
        aniamation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    to {
        opacity: 1;
    }
}
