.profile-userpic img.avatar {
    width: 150px;
    height: 150px;
    transition: none !important;
}

.select2-container, .inbox-compose .controls>input {
    margin-bottom: 4px !important;
    margin-top: 4px !important;
}

.nav-item, .page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    margin: 5px !important;
}

.portlet>.portlet-title>.caption, .inbox-nav-folder .inbox-nav-folder-info .inbox-nav-folder-name, .dashboard-stat .details .number, .dashboard-stat .details .desc {
    font-weight: bold;
}

.btn.btn-outline.purple {
    padding: 4px 8px 4px 8px !important;
}

.onOffSwitch-handle {
    scale: 120%;
}

.onOffSwitch-handle {
    background-color: #245783;
}

.onOffSwitch-input:checked ~ .onOffSwitch-handle {
    background-color: #53a661;
}

.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i {
    color: inherit !important;
}

.filtersContainer {
    margin-top: 1rem;
}

.form-horizontal .control-label {
    text-align: left !important;
}

@media (min-width: 768px) {
    /* Participants and Date */
    .col-sm-2 {
        width: 11% !important;
    }

    /* Author */
    .col-sm-3 {
        width: 20% !important;
    }
}

@media (min-width: 992px) {
    /* Topic */
    .col-md-4 {
        width: 48% !important;
    }
}