:root {
    --radius: 8px;
}

/* Full rounded */
.btn:not(.btn-sm):not(.btn-lg), .messageThread:hover, .portlet.portlet-sortable.light, .portlet.not-draggable.light, .portlet.box, .dashboardBestClassesPanel .panel, .dashboardBestStudentsPanel .panel, .dashboardBestTeachersPanel .panel, .rounded, .dashboard-stat, .btn.green:not(.btn-outline), .btn-grade, .popupText, .highcharts-menu, .dropdown-menu, .btn.red:not(.btn-outline), .portlet .fullscreen, .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a .time, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li:hover>a, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external, .note-editor, .note-btn:only-of-type, .note.note-info, .btn.blue:not(.btn-outline), .form-control, .modal-content, .label, .alert-info, .page-sidebar .page-sidebar-menu>li.active>a, .dropdown-menu>li>a:hover, .iradio_square-blue, div.dt-button-collection, a.dt-button.buttons-columnVisibility.active:not(.disabled), div.dt-button-collection button.dt-button, div.dt-button-collection div.dt-button, div.dt-button-collection a.dt-button, .inbox .inbox-body, .inbox .inbox-sidebar, .new-message-recipients-box > span > span > span, .select2-dropdown, .select2-selection, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple .select2-selection__choice, #selectGradeType, .gradeType, .datepicker, .icheckbox_square-blue, #iCheck-helper, .page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a, .profile-usermenu ul li.active a, .profile-usermenu ul li a:hover, .filtersContainer, .inbox-folder-options-btn:hover, .inbox-folder-options-btn:focus, .inbox-folder-options-btn.focus, .inbox-folder-options-btn:active, .inbox-folder-options-btn.active, .open > .dropdown-toggle.inbox-folder-options-btn, .cc_container, #toast-container>.toast, .modal-dialog, .accordion .panel, .accordion .panel:has(.panel-collapse) > .panel-heading, .portlet #select-all, #newBadgeTextField, .diaryCustomUl > li.active, .page-loader {
    border-radius: var(--radius) !important;
}

/* Top rounded */
.nav-tabs:not(.auth-tabs)>li.active>a, .nav-tabs:not(.auth-tabs)>li.active>a:focus, .nav-tabs:not(.auth-tabs)>li.active>a:hover, .nav-tabs:not(.auth-tabs)>li>a:hover, .select2-results__options .select2-results__option:first-of-type, .scheduleTable .scheduleTableHeading, .dashboardBestClassesPanel .panel-heading, .dashboardBestStudentsPanel .panel-heading, .dashboardBestTeachersPanel .panel-heading, .portlet-body .list-group-item:first-child, .portlet .portlet-title, .accordion .panel:has(.panel-collapse[aria-expanded="true"]) > .panel-heading, .accordion .panel-heading .panel-title, .accordion .panel-heading .panel-title a, .note-toolbar {
    border-radius: var(--radius) var(--radius) 0 0 !important;
}

/* Bottom rounded */
.page-content, .portlet-body .list-group-item:last-child, .select2-results__options .select2-results__option:last-of-type, .portlet .portlet-body {
    border-radius: 0 0 var(--radius) var(--radius) !important;
}

/* Left rounded */
.pagination>li:first-child>a, .pagination>li:first-child>span, .btn-group>.btn:first-of-type:not(:last-of-type):not(.dropdown-toggle), .note-btn:not(:only-of-type):first-of-type {
    border-radius: var(--radius) 0 0 var(--radius) !important;
}

/* Right rounded */
.pagination>li:last-child>a, .pagination>li:last-child>span, .message-table-head > div:last-child, .btn-group>.btn:last-of-type:not(:first-of-type):not(.dropdown-toggle), #showTopicsListBtn, .note-btn:not(:only-of-type):last-of-type {
    border-radius: 0 var(--radius) var(--radius) 0 !important;
}

/* None rounded */
.btn-group>.btn:not(:first-of-type):not(:last-of-type) {
    border-radius: 0 !important;
}

rect {
    rx: 8px;
}

.nav-item > a {
    border-radius: var(--radius) !important;
    border: 0 !important;
}

.input-group-addon {
    background-color: #fff0;
    border: 0;
}

#tableGrades, #tableAbsences, #tableFeedbacks {
    border-collapse: unset !important;
}   

#tab_control_test > .portlet > table, #tab_parent_meeting > .portlet > table {
    border-radius: var(--radius) !important;
    border-collapse: unset !important;
}

#tab_control_test > .portlet > table > thead > tr > .thinTableColumn, #tab_parent_meeting > .portlet > table > thead > tr > .thinTableColumn, .annualAssessment, #tableAbsences > thead > tr > .thinTableColumn, #tableFeedbacks > thead > tr > .thinTableColumn {
    border-left: 0 !important;
    border-right: 0 !important;
}

#tab_control_test > .portlet > .table > tbody > .compactTableRow > td, #tab_parent_meeting > .portlet > .table > tbody > .compactTableRow > td {
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

#tab_control_test > .portlet > .table > thead > .tableHeadersFooters > .col-md-4 {
    border-left: 0 !important;
}

#tab_parent_meeting > .portlet > .table > thead > .tableHeadersFooters > .col-md-4 {
    border-left: 0 !important;
}

#tableGrades:not(#tableGrades >  *), #tableAbsences:not(#tableAbsences >  *), #tableFeedbacks:not(#tableFeedbacks >  *), .onOffSwitch-handle, .onOffSwitch {
    border-radius: var(--radius) !important;
}

.big, tfoot .annualAssessment.solid-left-border, thead .thinTableColumn:first-of-type, .numVal:not(.term1):not(.term2):not(.solid-left-border) .thinTableColumn {
    border: 0 !important;
}

/* Schedule table */
.scheduleTableBody .scheduleTableCell:last-child {
    border-bottom-right-radius: var(--radius) !important;
    border-bottom-left-radius: var(--radius) !important;
}

.scheduleTableColumn:first-child {
    padding-right: 3px;
}

.scheduleTableColumn:last-child {
    padding-left: 3px;
}

.scheduleTableColumn:not(:first-child):not(:last-child) {
    padding-left: 3px;
    padding-right: 3px;
}

.profile-usermenu ul li {
    border-bottom: none !important;
    margin: 5px !important;
}

.inbox .inbox-nav>li>a {
    border-radius: var(--radius) !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.message-table-head > div:first-child {
    border-radius: var(--radius) 0 0 var(--radius) !important;
    margin-bottom: 5px !important;
}

.messageThread, .profile-usermenu ul li.active a, .profile-usermenu ul li a {
    border: none !important;
}

/* Rounded tables */
.table-bordered {
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-radius: var(--radius) !important;
}

/* Remove all borders initially */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: none !important;
}

/* Add right border to all cells except last column */
.table-bordered > thead > tr > th:not(:last-child),
.table-bordered > tbody > tr > td:not(:last-child),
.table-bordered > tfoot > tr > td:not(:last-child) {
    border-right: 1px solid #e7ecf1 !important;
}

/* Add bottom border to all rows except last */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr:not(:last-child) > td,
.table-bordered > tfoot > tr:not(:last-child) > td {
    border-bottom: 1px solid #e7ecf1 !important;
}

/* Special case for header bottom border if tbody/tfoot might be empty */
.table-bordered > thead > tr:not(:last-child) > th {
    border-bottom: 1px solid #e7ecf1 !important;
}

.table-bordered > tfoot > tr:first-child > td {
    border-top: 1px solid #e7ecf1 !important;
}

/* Round corners for collapsed tables by targeting corner cells */
.table-bordered thead tr:first-child th:first-child {
    border-top-left-radius: var(--radius) !important;
}

.table-bordered thead tr:first-child th:last-child {
    border-top-right-radius: var(--radius) !important;
}

.table-bordered tbody tr:last-child td:first-child,
.table-bordered tfoot tr:last-child td:first-child {
    border-bottom-left-radius: var(--radius) !important;
}

.table-bordered tbody tr:last-child td:last-child,
.table-bordered tfoot tr:last-child td:last-child {
    border-bottom-right-radius: var(--radius) !important;
}

/* Login page */
.auth-tabs a[data-value="login-tab"] {
    border-radius: var(--radius) 0 0 0 !important;
}

.auth-tabs a[data-value="register-tab"] {
    border-radius: 0 var(--radius) 0 0 !important;
}

.login-form .btn, .forget-form .btn, .or-login-text span {
    border-radius: var(--radius) !important;
}

.auth-tabs-content .tab-content {
    border-radius: 0 0 var(--radius) var(--radius) !important;
}

.icheckbox_square-blue, .iradio_square-blue {
    outline: 2px solid var(--border-primary) !important;
    outline-offset: -2px !important;
}