:root {
    /* Global Variables */
    --background-primary: hsl(0, 0%, 15%) !important; /* Same as --dark-bg */
    --border-primary: hsl(0, 0%, 96%) !important;
    --accent-primary: hsl(0, 0%, 22%) !important;
    --text-primary: hsl(0, 0%, 96%) !important;
    --background-alternate: hsl(0, 0%, 23%) !important;
    --button-primary: hsl(0, 0%, 96%) !important;
    /* General Variables */
    --darker-bg: hsl(0, 0%, 8%) !important;
    --darker2-bg: hsl(0, 0%, 10%) !important;
    --dark-bg: hsl(0, 0%, 15%) !important;
    --dark2-bg: hsl(0, 0%, 17%) !important;
    --lightDark-bg: hsl(0, 0%, 22%) !important;
}

html, body, .form-control {
    color: white !important;
    background-color: var(--darker-bg) !important;
}

label, .stats-label, a, tspan, .scIcon, .font-blue-dark, .font-blue-steel,.scheduleTable .scheduleCourse, .scheduleTable .scheduleTableCourse .hourNum, .page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i, .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a, .page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a, .page-sidebar .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li:hover>a>i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a:hover>i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar .menu-title, .page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a, .note.note-warning, .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i, .message-table-head > div, .message-user, .message-subject, .scroll-to-top>i, .btn-default, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate, .highcharts-menu-item, .note.note-info, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3, span, p {
    color: white !important;
}

/* Darker bg */
.page-header.navbar, .page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .nav>li>a:focus, .nav>li>a:hover, .note-editor.note-frame .note-editing-area .note-editable, .panel-default>.panel-heading, .filtersContainer, .table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>td, .content-comment-section .content-comment, div.dt-button-collection, .select2-container--default .select2-selection--multiple .select2-selection__choice, .selectionTableCell.selected {
    background-color: var(--darker-bg) !important;
    color: white;
}

/* Dark bg */
.page-content, .portlet.portlet-sortable.light, .highcharts-background, .portlet.light, .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu, .detailsRow, .table-hover > tbody > tr.detailsRow:hover, .table-hover > tbody > tr.detailsRow:hover > td, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li:hover>a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a:hover, .page-header.navbar .hor-menu.hor-menu-light.year-selector .navbar-nav > li.open > a, .page-header.navbar .hor-menu.hor-menu-light.app-switcher .navbar-nav > li.open > a, .messageThread, .panel, .dropdown-menu, .modal-content, .dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a, .inbox-folder-options-btn, .inbox-folder-options-btn:focus, .inbox-folder-options-btn.focus, .inbox-folder-options-btn:active, .inbox-folder-options-btn.active, .open > .dropdown-toggle.inbox-folder-options-btn, .empty-cell:hover, .table-hover > tbody > tr:hover > td.empty-cell, .empty-cell, .bootstrap-select.btn-group .no-results, table.dataTable tbody tr, .bg-default, .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a .time, .page-sidebar .page-sidebar-menu>li:hover>a, .note-btn:hover, .note-btn:hover, .panel-heading.note-toolbar .note-color .note-btn-group:hover > .note-btn, .panel-heading.note-toolbar .note-color .note-btn-group:hover > .note-btn, .note-popover .popover-content .note-color .dropdown-menu .note-palette .note-color-reset, .panel-heading.note-toolbar .note-color .dropdown-menu .note-palette .note-color-reset, .note-popover .popover-content .note-color .dropdown-menu .note-palette .note-color-select, .panel-heading.note-toolbar .note-color .dropdown-menu .note-palette .note-color-select, .bg-white, .portlet.box>.portlet-body, .select2-container--default .select2-selection--single .select2-selection__rendered, .tab-content, .auth-tabs.nav.nav-tabs>li.active>a, .dashboardBestClassesPanel .panel-heading, .dashboardBestStudentsPanel .panel-heading, .dashboardBestTeachersPanel .panel-heading, .list-group-item, .page-loader {
    background-color: var(--dark-bg) !important;
    color: white !important;
}

/* Light Dark bg */
.taken-shi, .pagination>.active>a, .messageThread:hover, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .inbox-content .timeline .timeline-body, .btn.default:not(.btn-outline), .btn-default, .stats-ranking-table .highlight, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external, .highcharts-menu, .popupText, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li:hover>a, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a:hover, .profile-usermenu ul li.active a, .note.note-info, a.dt-button.buttons-columnVisibility.active:not(.disabled), .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple, .select2-dropdown, .dropzone, .table-highlight-td > tbody > tr > td:not(.emptySelectionCell):hover, .select2-container--default .select2-search--dropdown .select2-search__field, .portlet.blue-soft, .portlet.box.blue-soft>.portlet-title, .portlet>.portlet-body.blue-soft, .portlet.blue-madison, .portlet.box.blue-madison>.portlet-title, .portlet>.portlet-body.blue-madison, .auth-tabs.nav.nav-tabs>li:not(.active)>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: var(--lightDark-bg) !important;
    color: white !important;
}

.login .content .form-actions .btn, .phone-label, a.btn-custom-primary, .or-login-text h4 span {
    background-color: var(--button-primary) !important;
    color: var(--dark-bg) !important;
    border: 0 !important;
}

/* Hover for Text */
.grade:hover {
    color: hsl(0, 0%, 80%);
}

/* Transparent bg */
.pagination > li > a.clr1:not(.active), .pagination > li > a.clr2:not(.active), .pagination > li > a.clr2:not(.active), .pagination > li > a.clr3:not(.active),.pagination > li > a.clr4:not(.active), .pagination > li > a.clr5:not(.active), .pagination > li > a.clr6:not(.active), .pagination > li > a.clr7:not(.active), .pagination>li>a, .pagination>li>span, .portlet .portlet-title.is_stuck {
    background-color: rgba(0, 0, 0, 0) !important;
}

.portlet.box.blue-soft, .portlet.blue-madison, .portlet.box.blue-madison>.portlet-title, .portlet>.portlet-body.blue-madison {
    border-color: var(--lightDark-bg) !important;
}

table > thead > tr {
    background-color: var(--dark-bg) !important;
    color: white !important;
}

/* Odd List Items Color */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--dark2-bg) !important;
    color: white;
}

.table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: var(--darker2-bg) !important;
}

/* Even List Items Color */
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: var(--dark-bg) !important;
    color: white;
}

.table-striped>tbody>tr:nth-of-type(even):hover {
    background-color: var(--darker-bg) !important;
}

.btn.btn-outline.dark {
    color: white !important;
    border-color: hsl(0, 0%, 90%);
}

.btn.btn-outline.dark:hover {
    background-color: hsl(0, 0%, 90%);
    color: var(--dark-bg) !important;
}

.grade, .btn.green-haze:not(.btn-outline), .table td, .table th {
    font-weight: bold;
}

.classWorkGrade {
    border: 2px solid white !important;
}

.highcharts-background, .highcharts-tooltip-box {
    fill: var(--dark-bg) !important;
    color: white;
}

.scheduleTable .scheduleTableCell:hover {
    background-color: var(--darker2-bg) !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    background-color: var(--dark-bg) !important;
}

.btn-info, .btn.green:not(.btn-outline), a.dt-button.buttons-columnVisibility.active:not(.disabled) {
    background-color: var(--dark-bg) !important;
    border-color: hsl(0, 0%, 90%);
}

.btn-info:hover, .btn.green:not(.btn-outline):hover, .btn-info.active, .btn-info:active, .btn-info.focus, .btn-info:focus, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.btn-info.dropdown-toggle.focus, .open>.btn-info.dropdown-toggle:focus, .open>.btn-info.dropdown-toggle:hover, .btn.green:not(.btn-outline).active.focus, .btn.green:not(.btn-outline).active:focus, .btn.green:not(.btn-outline).active:hover, .btn.green:not(.btn-outline):active.focus, .btn.green:not(.btn-outline):active:focus, .btn.green:not(.btn-outline):active:hover, .open>.btn.green:not(.btn-outline).dropdown-toggle.focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:hover, .btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline).focus, .btn.green:not(.btn-outline):focus{
    background-color: hsl(0, 0%, 4%);
    border-color: white;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #ffffff;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    background: var(--dark-bg) !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    border-color: hsl(0, 0%, 90%);
}

/* Dashboard Stat Colors */
.dashboard-stat.blue { background-color: #0c5c96 !important; }
.dashboard-stat.green { background-color: #1c8892 !important; }
.dashboard-stat.red { background-color: #aa333b !important; }
.dashboard-stat.yellow { background-color: #a58539 !important; }
.dashboard-stat.purple { background-color: #8c40ad !important; }
.dashboard-stat.green-jungle { background-color: #489748 !important; }

.portlet>.portlet-title {
    border-bottom: 0;
}

.inbox .inbox-nav>li>a:hover {
    background-color: var(--lightDark-bg) !important;
}

.highcharts-scrollbar-track {
    fill: hsl(0, 0%, 15%) !important;
    stroke: hsl(0, 0%, 15%) !important;
}

.highcharts-scrollbar-thumb {
    fill: var(--darker-bg) !important;
    stroke: var(--darker-bg) !important;
}

.highcharts-scrollbar-button, .highcharts-button {
    fill: var(--lightDark-bg) !important;
    stroke: var(--lightDark-bg) !important;
}

tspan {
    fill: white !important;
    stroke: none !important;
}

.highcharts-root text {
    fill: white !important;
    stroke: none !important;
    font-weight: bold;
    color: white !important;
}

.badge-success {
    background-color: #0b5259;
}

.badge {
    font-weight: bold;
    font-size: 12px;
}

.detailsRow.absenceType2 {
    background-color: #8d850c !important;
    border-color: transparent !important;
}

.detailsRow.absenceType1 {
    background-color: #1b3b2c !important;
    border-color: transparent !important;
}

.detailsRow.absenceType3, .badges-type-2 .badge-details-holder {
    background-color: #f1484bc2 !important;
    border-color: transparent !important;
}

.badges-type-2, .badges-type-2:hover, .pupil-badge-type.remark {
    background-color: var(--dark-bg) !important;
    border-color: #9a4040 !important;
}

.badges-type-1, .badges-type-1:hover, .pupil-badge-type.appraisal {
    background-color: var(--dark-bg) !important;
    border-color: #c0ff8e !important;
}

.badges-type-1 .badge-details-holder {
    background: #748f60;
    border-top: 1px solid #c0ff8e;
}

.rating:not(:hover) > input:checked ~ label, .rating > label:hover, .rating > label:hover ~ label {
    color: #ffd700 !important;
}

.mt-element-ribbon .ribbon.ribbon-color-success>.ribbon-sub {
    background-color: #1e7279;
}

.page-sidebar .page-sidebar-menu>li.active:hover>a, .page-sidebar .page-sidebar-menu>li.active>a {
    background: #912a31 !important;
}

.input-group-addon {
    background-color: #fff0;
    border: 0;
}

.cc_container {
    background: var(--dark-bg) !important;
}

.popupText::before {
    border-color: transparent transparent #383838 transparent;
}

.inbox .inbox-nav > li.active > a {
    border: none !important;
    background-color: var(--lightDark-bg) !important;
}

.highcharts-column-series rect.highcharts-point {
    stroke: #0000;
}

.highcharts-point {
    stroke-width: 0px;
}

.widget_buttons {
    font-weight: bold;
    border: 1px solid white !important;
    padding: 8px;
    display: inline-block;
    margin-right: 8px;
}

.widget_buttons:hover {
    background: white;
    color: black !important;
    text-decoration: none;
}

.timeline .timeline-body-arrow {
    border-color: transparent var(--lightDark-bg) transparent transparent;
}

.modal .modal-header .close {
    filter: invert(1);
}

.btn.btn-outline.blue-steel.active, .btn.btn-outline.blue-steel:active, .btn.btn-outline.blue-steel:active:focus, .btn.btn-outline.blue-steel:active:hover, .btn.btn-outline.blue-steel:focus, .btn.btn-outline.blue-steel:hover {
    border-color: #ffffff;
    color: var(--darker-bg);
    background-color: #ffffff;
}

.btn.btn-outline.blue-steel {
    border-color: #ffffff;
    color: #ffffff;
}

.red_back, .red_back > td, .table-hover > tbody > tr.red_back:hover, .table-hover > tbody > tr.red_back:hover > td {
    background: #3d1213 !important;
    color: white !important;
}

.green_back, .green_back * a:not(.btn), .green_back * a:not(.btn):hover, .green_back * a:not(.btn):focus, .green_back > td > a:not(.btn), .green_back > td > a:not(.btn):hover, .green_back > td > a:not(.btn):focus, .table-hover > tbody > tr.green_back:hover > td, .table-hover > tbody > tr.green_back:hover {
    background: #214d38 !important;
    color: white !important;
}