.col-sm-12, .table-responsive, .table, .scheduleView, .portlet, .datepicker, .dropdown-menu, .btn, .note {
    animation: showAnimation var(--animation-duration) ease-in-out;
}

.dashboard-stat {
    animation: fadeIn var(--animation-duration) ease-in-out;
}

.stats-rank-box:hover .statsRankPopup {
    animation: showAnimation var(--animation-duration) ease-in-out;
}
