/* Platform icons */
.fab.fa-android { color: #3DDC84 !important; }

.fab.fa-windows { color: #00A4EF !important; }

.fab.fa-internet-explorer { color: #00A4EF !important; }

.fab.fa-firefox-browser { color: #FF7139 !important; }

.fab.fa-opera { color: #fd0032 !important; }

/* General icons */
.fas.fa-pencil { color: #2196F3 !important; }

.icon-badge, .far.fa-key, .far.fa-chart-line, .far.fa-envelope-open, .far.fa-file-signature
{ color: #fbc118 !important; }

.fal.fa-table { color: #39b9a8 !important; }

.far.fa-book-spells { color: #ba22e4 !important; }

.far.fa-calendar-day { color: #3fb84f !important; }

.icon-book-open { color: #10bfc5 !important; }

.far.fa-clock, .far.fa-bell-on, .far.fa-envelope, .fas.fa-exclamation-circle
{ color: #f44336 !important; }

.icon-eyeglasses { color: #0072b8 !important; }

.icon-calendar { color: #5d8bf7 !important; }

.fas.fa-user-graduate { color: #0171c7 !important; }