/* Platform icons */
.fab.fa-android { color: #3DDC84; }

.fab.fa-windows { color: #00A4EF; }

.fab.fa-internet-explorer { color: #00A4EF; }

.fab.fa-firefox-browser { color: #FF7139; }

.fab.fa-opera { color: #fd0032; }

/* General icons */
.fas.fa-pencil { color: #2196F3; }

.icon-badge, .far.fa-key, .far.fa-chart-line, .far.fa-envelope-open, .far.fa-file-signature
{ color: #fbc118; }

.fal.fa-table { color: #39b9a8; }

.far.fa-book-spells { color: #ba22e4; }

.far.fa-calendar-day { color: #3fb84f; }

.icon-book-open { color: #10bfc5; }

.far.fa-clock, .far.fa-bell-on, .far.fa-envelope, .fas.fa-exclamation-circle
{ color: #f44336; }

.icon-eyeglasses { color: #0072b8; }

.icon-calendar { color: #5d8bf7; }

.fas.fa-user-graduate { color: #0171c7; }