html, body, .form-control {
    color: white !important;
    background-color: hsl(0, 0%, 8%) !important;
}

label, .stats-label, a, tspan, .scIcon, .font-blue-dark, .font-blue-steel,.scheduleTable .scheduleCourse, .scheduleTable .scheduleTableCourse .hourNum, .page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i, .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a, .page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a, .page-sidebar .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li:hover>a>i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a:hover>i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar .menu-title, .page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a, .note.note-warning, .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i, .message-table-head > div, .message-user, .message-subject, .scroll-to-top>i, .btn-default, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate, .highcharts-menu-item, .note.note-info, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3, span, p {
    color: white !important;
}

/* Darker bg */
.page-header.navbar, .page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .nav>li>a:focus, .nav>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .note-editor.note-frame .note-editing-area .note-editable, .panel-default>.panel-heading, .filtersContainer, .table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>td, .content-comment-section .content-comment, div.dt-button-collection, .select2-container--default .select2-selection--multiple .select2-selection__choice, .selectionTableCell.selected {
    background-color: hsl(0, 0%, 8%) !important;
    color: white;
}

/* Dark bg */
.page-content, .portlet.portlet-sortable.light, .highcharts-background, .portlet.light, .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu, .detailsRow, .table-hover > tbody > tr.detailsRow:hover, .table-hover > tbody > tr.detailsRow:hover > td, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li:hover>a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a:hover, .page-header.navbar .hor-menu.hor-menu-light.year-selector .navbar-nav > li.open > a, .page-header.navbar .hor-menu.hor-menu-light.app-switcher .navbar-nav > li.open > a, .messageThread, .panel, .dropdown-menu, .modal-content, .dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a, .inbox-folder-options-btn, .inbox-folder-options-btn:focus, .inbox-folder-options-btn.focus, .inbox-folder-options-btn:active, .inbox-folder-options-btn.active, .open > .dropdown-toggle.inbox-folder-options-btn, .empty-cell:hover, .table-hover > tbody > tr:hover > td.empty-cell, .empty-cell, .bootstrap-select.btn-group .no-results, table.dataTable tbody tr, .bg-default, .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a .time, .page-sidebar .page-sidebar-menu>li:hover>a, .note-btn:hover, .note-btn:hover, .panel-heading.note-toolbar .note-color .note-btn-group:hover > .note-btn, .panel-heading.note-toolbar .note-color .note-btn-group:hover > .note-btn, .note-popover .popover-content .note-color .dropdown-menu .note-palette .note-color-reset, .panel-heading.note-toolbar .note-color .dropdown-menu .note-palette .note-color-reset, .note-popover .popover-content .note-color .dropdown-menu .note-palette .note-color-select, .panel-heading.note-toolbar .note-color .dropdown-menu .note-palette .note-color-select, .bg-white {
    background-color: hsl(0, 0%, 15%) !important;
    color: white !important;
}

/* Light Dark bg */
.taken-shi, .pagination>.active>a, .messageThread:hover, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .inbox-content .timeline .timeline-body, .btn.default:not(.btn-outline), .btn-default, .stats-ranking-table .highlight, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external, .highcharts-menu, .popupText, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li:hover>a, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a:hover, .profile-usermenu ul li.active a, .note.note-info, a.dt-button.buttons-columnVisibility.active:not(.disabled), .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple, .select2-dropdown, .dropzone, .table-highlight-td > tbody > tr > td:not(.emptySelectionCell):hover {
    background-color: hsl(0, 0%, 22%) !important;
    color: white !important;
}

/* Hover for Text */
.grade:hover {
    color: hsl(0, 0%, 80%);
}

/* Transparent bg */
.pagination > li > a.clr1:not(.active), .pagination > li > a.clr2:not(.active), .pagination > li > a.clr2:not(.active), .pagination > li > a.clr3:not(.active),.pagination > li > a.clr4:not(.active), .pagination > li > a.clr5:not(.active), .pagination > li > a.clr6:not(.active), .pagination > li > a.clr7:not(.active), .pagination>li>a, .pagination>li>span, .portlet .portlet-title.is_stuck {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Odd List Items Color */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: hsl(0, 0%, 17%);
    color: white;
}

.table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: hsl(0, 0%, 10%);
}

.grade, .btn.green-haze:not(.btn-outline), .table td, .table th {
    font-weight: bold;
}

.classWorkGrade {
    border: 2px solid white !important;
}

.highcharts-background {
    fill: hsl(0, 0%, 15%);
    color: white;
}

.scheduleTable .scheduleTableCell:hover {
    background-color: hsl(0, 0%, 10%);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    background-color: hsl(0, 0%, 15%);
}

.btn-info, .btn.green:not(.btn-outline), a.dt-button.buttons-columnVisibility.active:not(.disabled) {
    background-color: hsl(0, 0%, 15%);
    border-color: hsl(0, 0%, 90%);
}

.btn-info:hover, .btn.green:not(.btn-outline):hover, .btn-info.active, .btn-info:active, .btn-info.focus, .btn-info:focus, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.btn-info.dropdown-toggle.focus, .open>.btn-info.dropdown-toggle:focus, .open>.btn-info.dropdown-toggle:hover, .btn.green:not(.btn-outline).active.focus, .btn.green:not(.btn-outline).active:focus, .btn.green:not(.btn-outline).active:hover, .btn.green:not(.btn-outline):active.focus, .btn.green:not(.btn-outline):active:focus, .btn.green:not(.btn-outline):active:hover, .open>.btn.green:not(.btn-outline).dropdown-toggle.focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:hover, .btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline).focus, .btn.green:not(.btn-outline):focus{
    background-color: hsl(0, 0%, 4%);
    border-color: white;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #ffffff;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    background: #262626 !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    border-color: hsl(0, 0%, 90%);
}

.dashboard-stat.blue, .label-success {
    background-color: #095082 !important;
}

.dashboard-stat.green {
    background-color: #19757d !important;
}

.dashboard-stat.red, .btn.red:not(.btn-outline) {
    background-color: #912a31;
}

.dashboard-stat.yellow, .label-warning {
    background-color: #96772f;
}

.dashboard-stat.purple {
    background-color: #7a3796;
}

.dashboard-stat.green-jungle {
    background-color: #196545;
}

.portlet>.portlet-title {
    border-bottom: 0;
}

.inbox .inbox-nav>li>a:hover {
    background-color: #383838;
}

.highcharts-scrollbar-track {
    fill: hsl(0, 0%, 15%) !important;
    stroke: hsl(0, 0%, 15%) !important;
}

.highcharts-scrollbar-thumb {
    fill: hsl(0, 0%, 8%) !important;
    stroke: hsl(0, 0%, 8%) !important;
}

.highcharts-scrollbar-button, .highcharts-button {
    fill: hsl(0, 0%, 22%) !important;
    stroke: hsl(0, 0%, 22%) !important;
}

tspan {
    fill: white !important;
    stroke: none !important;
}

.highcharts-root text {
    fill: white !important;
    stroke: none !important;
    font-weight: bold;
    color: white !important;
}

.badge-success {
    background-color: #0b5259;
}

.badge {
    font-weight: bold;
    font-size: 12px;
}

.detailsRow.absenceType2 {
    background-color: #8d850c !important;
    border-color: transparent !important;
}

.detailsRow.absenceType1 {
    background-color: #1b3b2c !important;
    border-color: transparent !important;
}

.detailsRow.absenceType3, .badges-type-2 .badge-details-holder {
    background-color: #f1484bc2 !important;
    border-color: transparent !important;
}

.badges-type-2, .badges-type-2:hover, .pupil-badge-type.remark {
    background-color: #262626 !important;
    border-color: #9a4040 !important;
}

.badges-type-1, .badges-type-1:hover, .pupil-badge-type.appraisal {
    background-color: #262626 !important;
    border-color: #c0ff8e !important;
}

.badges-type-1 .badge-details-holder {
    background: #748f60;
    border-top: 1px solid #c0ff8e;
}

.rating:not(:hover) > input:checked ~ label, .rating > label:hover, .rating > label:hover ~ label {
    color: #ffd700 !important;
}

.mt-element-ribbon .ribbon.ribbon-color-success>.ribbon-sub {
    background-color: #1e7279;
}

.page-sidebar .page-sidebar-menu>li.active:hover>a, .page-sidebar .page-sidebar-menu>li.active>a {
    background: #912a31 !important;
}

.input-group-addon {
    background-color: #fff0;
    border: 0;
}

.cc_container {
    background: hsl(0, 0%, 15%) !important;
}

.popupText::before {
    border-color: transparent transparent #383838 transparent;
}

.inbox .inbox-nav > li.active > a {
    border: none !important;
    background-color: hsl(0, 0%, 22%) !important;
}