body {
    font-family: monospace;
    color: #fff;
    background: linear-gradient(45deg, #121212, #1d1d1d, #1c1c1d);
    background-size: 300% 300%;
    overflow: auto;
}

canvas {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


.winHeader, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    line-height: 0;
    font-size: 1em;
}

.closeWindowBtn {
    background-color: #00000000;
    border-radius: 4px;
    transition: 200ms;

    height: 26px; 
    position: absolute; 
    top: 0%; 
    right: 0%; 
    bottom: 100%; 
    left: 100%; 
    margin-top: 16px; 
    margin-left: -48px;
}

.closeWindowBtn:hover {
    background-color: #f82f2f;
}

.jsonIn1 {
    padding-left: 1.2ch;
}

.window {
    background: rgba(0, 4, 10, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    position: absolute;
    min-height: 310px;
    min-width: 620px;
    border: 3px solid #fff;
    width: 89ch;
    padding: 3ch;
    padding-top: 1ch;
    border-radius: 12px;
}

.winHeader {
    border-bottom: #fff 3px solid;
    margin-bottom: 2ch;
    cursor: move;
}

.headerText {
    position: relative;
    font-size: 4ch;
    bottom: 7px;
}

.footerLink {
    color: inherit;
    margin-right: 1ch;
}

.content {
    height: 92vh;
    width: 99vw;
    display: grid;
    place-items: center;
}

.windowContainer {
    width: 10vw;
    position: absolute;
    display: flex;
    place-items: center;
}

.wipe {
    position: absolute;
    top: 95px;
    bottom: 50px;
    left: 20px;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 4px;
    font-family: monospace;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.projSection {
    border: #ffffffe8 3px solid;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 16px;
}

.projSection h1 {
    margin-top: -.1em;
}

.projSection h2 {
    line-height: 0;
}

.projBtn {
    border: #ffffffd0 3px solid;
    padding: 8px;
    border-radius: 6px;
}

.navbar {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

.navbar-content {
    display: flex;
    background-color: rgb(40, 42, 43);
    box-shadow: 0px 0px 8px #ffffff3d;
    border: #ffffff3d 1px solid;
    padding: 8px;
    gap: 8px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    transition: 20ms;
}

.nav-link {
    height: 32px;
    width: 32px;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border: #ffffffab 1px solid;
    background-color: #3b393981;
    border-radius: 8px;
    box-shadow: #ffffff3d 0px 0px 3px;
    transition: 200ms;
}

.nav-link:hover {
    background-color: #ffffff22;
    box-shadow: #ffffffa1 0px 0px 6px;
}

/* Console Window */

.console * {
    font-family: monospace !important;
}

.console {
    position: absolute;
    top: 65px;
    bottom: 15px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.console-input {
    /* position: absolute;
    top: 94%; */
    flex-grow: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.4em;
    background: #3a3a3a00;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 4px;
    padding: 4px 6px;
    transition: 100ms;
    margin-top: 8px;
}

.console-input:focus, .console-input:active, .console-input:hover {
    outline: none;
    background: #3a3a3aa4;
}

.console-history {
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.console-history::-webkit-scrollbar {
    width: 10px;
}

.console-history::-webkit-scrollbar-track {
    background: #ffffff22;
    border-radius: 10px;
}

.console-history::-webkit-scrollbar-thumb {
    background: #ffffff44;
    border-radius: 10px;
}

.console-history::-webkit-scrollbar-thumb:hover {
    background: #ffffff88;
}

.console-input-log, .console-output-log {
    box-sizing: border-box;
    padding: 4px 6px;
    font-size: 1.1em;
    transition: 100ms;
}

.console-input-log:hover,
.console-output-log:hover {
    background: rgb(255, 255, 255, .03);
}

.console-input-log {
    color: #ffffff;
    font-weight: bold;
}

.console-output-log {
    color: #00ffcc;
}

/* End Console Window of CSS */
