:root {
    --has-loaded: true;
    /* Global Variables */
    --background-primary: hsl(0, 0%, 15%); /* Same as --dark-bg */
    --primary-fg: hsl(0, 0%, 96%);
    --accent-primary: hsl(0, 0%, 22%);
    --primary-fg: hsl(0, 0%, 96%);
    --background-alternate: hsl(0, 0%, 23%);
    /* General Variables */
    --darker-bg: hsl(0, 0%, 8%);
    --darker2-bg: hsl(0, 0%, 10%);
    --dark-bg: hsl(0, 0%, 15%);
    --dark2-bg: hsl(0, 0%, 17%);
    --lightDark-bg: hsl(0, 0%, 22%);
}

* {
    color: var(--primary-fg) !important;
}

/* Tailwind Overrides */

.bg-blue-50 {
    background-color: #285caf !important;
}

.bg-red-50 {
    background-color: #c53030 !important;
}

/* Custom Theming */

body, #twroot .max-w-screen-max, .sb-left-side, .bg-white {
    background-color: var(--background-primary) !important;
}

tr, .sb-table, .sb-table-container, .mat-paginator-container, .sb-paginator, .sb-paginator-item, .mat-menu-content, #twroot .shadow-sm {
    background-color: var(--accent-primary) !important;
}

.card, footer {
    background-color: var(--darker2-bg) !important;
}

.second-nav {
    background-color: var(--dark2-bg) !important;
}

/* Grade Table Colors (IN PROGRESS) */
.bg-yellow-50 {
    background-color: #b88312 !important;
}

/* Rounded Theme */
sb-vertical-tabs, .border, #twroot .shadow-sm  {
    border-radius: 8px !important;
}

#twroot > sb-root > sb-snackbar-root > sb-student > sb-app-chrome > header > div {
    border-radius: 8px !important;
    height: auto !important;
}

#twroot > sb-root > sb-snackbar-root > sb-student > sb-app-chrome > header {
    height: 4rem !important;
}

#twroot > sb-root > sb-snackbar-root > sb-student > sb-app-chrome > div > div {
    padding-top: 4rem !important;
}

#twroot > sb-root > sb-snackbar-root > sb-student > sb-app-chrome > div > nav {
    top: 4rem !important;
}

#twroot > sb-root > sb-snackbar-root > sb-student > sb-app-chrome > div > nav > nav > div > div > div {
    flex-direction: column !important;
}

#twroot > sb-root > sb-snackbar-root > sb-student > sb-app-chrome > div > div > main > ng-component > sb-simple-page-skeleton-template > sb-book > sb-tabs > div {
    border: none !important;
}

#twroot .mat-tab-link {
    align-self: start !important;
    width: 100% !important;
}

#twroot > sb-root > sb-snackbar-root > sb-student > sb-app-chrome > div > nav > nav > div > div > mat-ink-bar {
    background-color: white !important;
}

.book-item-cell.excused {
    background-color: rgba(70, 130, 180, 0.3) !important;
}
